<div
  style="max-width:600px;min-height:100px;margin:auto;padding:10px 20px;background:rgb(34,34,34);color:#fff"
>
  <div
    style="display:flex;justify-content:space-between;align-items: center;padding-bottom: 10px;border-bottom:1px solid #61E2AA;margin-bottom: 15px; "
  >
    <p style="font-size:30px;font:600;">JTK STORE</p>
    <ul style="display: flex; gap: 2px;list-style: none;align-items: center;">
      <a href="#" style=""></a>
    </ul>
  </div>
  <p
    style="display:flex;justify-content:center; flex-wrap: wrap;width: 100%;text-align: center;"
  >
    <a
      href="mailto:ktaiwo660@gmail.com"
      style="color:#fff !important;text-decoration:none;display: inline;"
    >ktaiwo660@gmail.com</a>
    <span style="margin:0 5px">|</span>
    <a
      href="tel:+23407067729362"
      style="color: inherit;text-decoration:none;display: inline;"
    >+23407067729362</a>
  </p>
</div>