<table style="max-width:600px;margin:auto;width: 100%;">
  <tr>
    <td>
      <p style="font-size: 24px; font-weight: 700;">Hi, {{name}}</p>
    </td>
  </tr>
  <br />
  <tr style="margin-top: 10px;">
    <td style="">
      <p style="font-size: 16px;">Your withdraw request of
        {{amount}}
        is on the way. Delivery time depends on your bank's rules it usually
        takes 3days to 7days.</p>
    </td>
  </tr>
</table>