<table style="max-width:600px;margin:auto;width: 100%;">
  <tr>
    <td>
      <p style="font-size: 24px; font-weight: 700;">Hi, {{name}}</p>
    </td>
  </tr>
  <br />
  <tr style="margin-top: 10px;">
    <td style="font-size: 16px;"><p style="">please click on the link to
        activate your account:
        {{activationUrl}}</p>
    </td>
  </tr>
</table>