<table style="max-width:600px;margin:auto;width: 100%;">

<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>please click on the link to activate your account: {{activationUrl}}</p>
  </body>
</html>